<footer id="footer" aria-label="Footer">
  <div class="top">
  </div>
  <div class="middle">
    <div class="grid-center">
      <div class="col_sm-12">
        <span>Getting Started</span>
        <a href="{{ githubLink }}">GitHub</a>
        <a href="{{ latestDocs }}">Documentation</a>
        <a href="{{ contributeLink }}">How to Contribute</a>
      </div>
      <div class="col_sm-12">
        <span>Contact</span>
        <a href="{{ emailLink }}">Email</a>
        <a href="{{ featureRequestLink }}">Feature request</a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <a class="logo" href="{{ "/" | relative_url }}"><img src="{{ "/images/rash-logo.svg" | relative_url }}" alt="rash.io" /></a>
    <span>&#169; {{ site.time | date: '%Y' }} Rash Authors. All rights reserved.</span>
  </div>
</footer>

{% if page.asciinema %}
  <script async defer src="//buttons.github.io/buttons.js"></script>
  <script src="{{ "/js/asciinema-player.js?v2.6.1" | relative_url }}"></script>
{% endif %}
