<nav id="navigation" aria-label="Navigation">
  <div>
    <div
      class="hamburger-controls"
      onclick="if (document.body.classList.contains('menu-open')) { document.body.classList.remove('menu-open') } else { document.body.classList.add('menu-open') }; return false;">
      <span></span> <span></span> <span></span>
    </div>
    <div class="brand flex-auto w-100 w-auto-l self-start tc tl-l">
      <div class="logo">
        <a href="{{ "/" | relative_url }}"><img src="{{ "/images/rash-logo.svg" | relative_url }}"/></a>
      </div>
    </div>
    <ul class="links">
      <li><a href="{{ latestDocs }}">Documentation</a></li>
      <li class="dropdown">
        <a role="button" href="javascript:void(0)">Community</a>
        <div class="dropdown-content">
          <a href="{{ githubLink }}">GitHub</a>
        </div>
      </li>
      <li><a class="button small" href="{{ gettingStartedLink }}">Get Started</a></li>
    </ul>
  </div>
</nav>
